{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login page{% endblock %}
{% block styles %}
{{ super() }}
{% endblock %}
{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-signin" method="POST" action="/login"><div id="result">{{ result }}</div>
        {{ login_form.csrf_token }}
        {{ wtf.form_field(login_form.uname) }}
        <ul>
        {% for error in login_form.uname.errors %}
            <li style=“color:red;”><div id="result">Incorrect</div>{{ error }}</li>
        {% endfor %}
        </ul>
        {{ wtf.form_field(login_form.pword) }}
            <ul>
        {% for error in login_form.pword.errors %}
            <li style=“color:red;”><div id="result">Incorrect</div>{{ error }}</li>
        {% endfor %}
        </ul>
        {{ wtf.form_field(login_form.twofa) }}
            <ul>
        {% for error in login_form.twofa.errors %}
            <li style=“color:red;”><div id="result">Two-factor failure</div>{{ error }}</li>
        {% endfor %}
        </ul>
        <h2 class="form-signin-heading">Sign Up</h2>
    <button type="submit">Log in</button>

    </form>
 </div>
{% endblock %}
